<div ng-include="'components/navbar/navbar.html'"></div>


<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Bienvenido a Rent a Car</h1>
    <p class="lead">Escoge y reserva tu auto</p>
  </div>
</header>

<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Flota:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in Things">
        <li><a href="#" tooltip="{{thing.info}}"><i class="fa fa-building-o fa-2x"></i>  {{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>
 -->
  <div class="alert alert-success"><h4>Buscar:<input ng-model="searchText"></h4></div>
  <div class="table-responsive">
    <table class="table table-bordered" id="searchTextResults">
      <tr><th class="active">Nombre</th><th class="success">Patente</th><th class="warning">color</th><th class="danger">marca</th><th class="danger">garage</th</tr>
      <tr ng-repeat="thing in Things | filter:searchText">
        <td class="success"><a ng-href="reserva/{{thing._id}}">{{thing.name}}</a></td>
        <td class="active">{{thing.name}}</td>
        <td class="danger">{{thing.name}}</td>
        <td class="warning">{{thing.name}}</td>
        <td class="warning">{{thing.name}}</td>
      </tr>
    </table>
  </div>




<footer class="footer">
  <div class="container">
      <p>Rent a Car v1.0g |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
